._2AK8F {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

._2AK8F menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._3DxMM._1_rvh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

._3DxMM._1_rvh:not(:last-child) {
  margin-bottom: 10px;
}

._3DxMM._1_rvh > * + * {
  margin-left: 10px;
}

._3DxMM._1_rvh a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}

._3DxMM._1_rvh a > * + * {
  margin-left: 10px;
}

._3DxMM._1_rvh .avatar {
  width: 50px;
  height: 50px;
}

._3DxMM._1_rvh ._2DNSl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}

._3DxMM._1_rvh ._2DNSl p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

._3DxMM._1_rvh ._2DNSl p:first-child {
  font-size: 14px;
  color: #333;
}

._3DxMM._1_rvh ._2DNSl p + p {
  font-size: 11px;
  color: #808080;
}

._3DxMM._1_rvh menu {
  padding: 0;
}

._3DxMM._1_rvh button {
  padding: 0;
  width: 80px;
  height: 25px;
}

._3DxMM._1_rvh button + button {
  margin-left: 5px;
}

._3DxMM._1_rvh .bv-jg {
  width: 165px;
  font-size: 14px;
  color: #808080;
}

._3DxMM._35PoL {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 10px;
  width: 33.33333%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

._3DxMM._35PoL .avatar {
  margin: 0 0 7px;
  width: 100%;
}

._3DxMM._35PoL ._2DNSl p:first-child {
  display: block;
  width: 100%;
  height: 1.125em;
  text-align: center;
  text-overflow: ellipsis;
  color: #333333;
  overflow: hidden;
}

._3DxMM._35PoL ._2DNSl p + p {
  display: block;
  width: 100%;
  height: 1.125em;
  text-align: center;
  text-overflow: ellipsis;
  color: #808080;
  overflow: hidden;
}

._3DxMM._35PoL menu {
  display: block;
  margin: 0;
  padding: 10px 5px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

._3DxMM menu button {
  padding: 5px;
  width: 100%;
  height: auto;
  font-size: 14px;
  background: #FDB714;
  color: #204080;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  border: thin solid #8F9FBF;
  background-color: #F4F5F9;
}

._3DxMM menu button._2aWfr {
  border: none;
  background: #FDB714;
  color: #204080;
}

._3DxMM menu button[type='primary'] {
  background: #3787D3;
  color: #FFFFFF;
}

._3DxMM ._33uM6 {
  display: inline-block;
  margin: 0 15px 0 0;
  font-size: 16px;
  color: #808080;
}

@media (max-width: 240px) {
  ._3DxMM._35PoL {
    width: 100%;
  }
}

@media (max-width: 320px) {
  ._3DxMM._1_rvh button {
    width: 65px;
  }

  ._3DxMM._1_rvh .bv-jg {
    width: 135px;
  }

  ._3DxMM._35PoL {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  ._2AK8F._1_rvh li + li {
    margin-top: 10px;
  }

  ._3DxMM._1_rvh > * + * {
    margin-left: 20px;
  }

  ._3DxMM._1_rvh .avatar {
    width: 100px;
    height: 100px;
  }

  ._3DxMM._1_rvh ._2DNSl p:first-child {
    font-size: 28px;
  }

  ._3DxMM._1_rvh ._2DNSl p + p {
    font-size: 22px;
  }

  ._3DxMM._1_rvh button {
    width: 160px;
    height: 50px;
    border-radius: 6px;
    font-size: 28px;
  }

  ._3DxMM._1_rvh button + button {
    margin-left: 10px;
  }

  ._3DxMM._1_rvh .bv-jg {
    width: 330px;
    font-size: 28px;
  }

  ._3DxMM._35PoL {
    width: 20%;
  }
}

._2qeqq {
  font-size: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  width: 0 !important;
}
._24c6w {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

._2IiT0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._2IiT0 input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5px;
  height: 30px;
  border: thin solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

._2IiT0 input::-webkit-input-placeholder {
  text-align: center;
  color: #999;
}

._2IiT0 input:-ms-input-placeholder {
  text-align: center;
  color: #999;
}

._2IiT0 input::-ms-input-placeholder {
  text-align: center;
  color: #999;
}

._2IiT0 input::placeholder {
  text-align: center;
  color: #999;
}

._2IiT0 input:focus::-webkit-input-placeholder {
  text-align: left;
}

._2IiT0 input:focus:-ms-input-placeholder {
  text-align: left;
}

._2IiT0 input:focus::-ms-input-placeholder {
  text-align: left;
}

._2IiT0 input:focus::placeholder {
  text-align: left;
}

._3jNGh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  color: #888;
  text-align: center;
}

.VXbny {
  height: 60px;
}

._17PPh {
  margin-top: 5px;
}

.ZgZPd {
  margin-top: 20px;
  font-size: 10px;
  text-align: right;
  color: #808080
}

@media (max-width: 1023px) {
  ._2IiT0 p {
    display: none;
  }
}

@media (min-width: 1024px) {
  ._24c6w {
    padding: 0 40px;
  }

  ._2IiT0 {
    padding: 0 40px;
    margin: 0 -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: thin solid #ccc;
    height: 80px;
  }

  ._2IiT0 p {
    font-size: 36px;
    font-weight: bold;
    color: #204080;
  }

  ._2IiT0 input {
    padding: 0 15px;
    height: 50px;
    border-radius: 50px;
    font-size: 30px;
  }

  ._2IiT0 p + input {
    margin-left: 30px;
  }

  .VXbny {
    height: 120px;
  }

  ._3jNGh {
    height: 120px;
    font-size: 20px;
  }

  ._17PPh {
    margin-top: 17px;
  }
}

